.globalLayout {
	display: flex;
}
.globalHeader {
	width: 100%;
	height: 64px;
	background-color: pink;
}
.GlobalContent {
	width: 100%;
	height: 64px;
	background-color: pink;
}

.globalAside {
	width: 100%;
	height: 64px;
	background-color: pink;
}

.GlobalFooter {
	width: 100%;
	height: 64px;
	background-color: pink;
}
